.oc-menu-icons-bar {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0.22);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.4);
  padding: 2px 6px;
  border-radius: 4px;
}

.oc-menu-icons-bar__child {
  padding: 0 8px 0 0;

  &:last-child {
    padding-right: 0;
  }
}
