.oc-menu-select {
  position: relative;
  display: inline-flex;
}

.oc-menu-select__select {
  appearance: none;
  padding: 4px 36px 4px 12px;
	background: none;
	border: 1px solid #333;
  font-weight: bold;
  border-radius: 2px;
  font-size: 16px;

  &:focus, &:active {
    outline: none;
  }

  &:hover, &:focus {
    background-color: #f5f5f5;
    cursor: pointer;
  }
}

.oc-menu-select__dropdown-icon {
  position: absolute;
  right: 6px;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  pointer-events: none;
}
