.oc-menu {
  display: flex;
  background-color: #fff;
  height: 78px;
  border-bottom: 1px solid #e5e5e5;
}

.oc-menu--at-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: box-shadow 240ms ease-in-out;
}

.oc-menu--at-top.oc-menu--scrolled {
  transition: box-shadow 240ms ease-in-out;
  box-shadow: 0 0 4px rgba(0,0,0, 0.12);
}

.oc-menu__logo-container {
  display: inline-flex;
  align-items: center;
}

.oc-menu__middle-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 12px;
}

.oc-menu__app-name {
  display: flex;
  flex: 1;
  font-weight: bold;
  font-size: 20px;
  align-items: center;
  white-space: nowrap;
}

.oc-menu__icons-bar-container {
  margin-left: auto;
  padding: 12px 24px;
  display: inline-flex;
  align-items: center;
}
