.oc-menu-icon {
  display: inline-flex;
  position: relative;
}

.oc-menu-icon__sup-title {
  transition: all 180ms ease-in-out;
  display: inline-flex;
  font-size: 10px;
  font-weight: bold;
  border-radius: 10px;
  position: absolute;
  top: -4px;
  right: -6px;
  white-space: nowrap;
  padding: 1px 4px;
  min-width: 2.8ch;
  max-width: 4ch;
  justify-content: center;
  background-color: #dd2515;
  pointer-events: none;
  color: #fff;
  z-index: 20;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.22);
}

.oc-menu-icon__dropdown-icon {
  display: inline-flex;
  align-items: center;
  position: absolute;
  right: 0;
  height: 100%;
}

.oc-menu-icon__sub-items-container {
  border-radius: 2px;
  color: #333;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: -14px;
  right: 0;
  background-color: #fff;
  transform: translate(0, 100%);
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.25), 0px 1px 4px rgba(0, 0, 0, 0.15);
  z-index: 10;
  &:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: #fff;
    top: 0;
    right: 10px;
    transform: translate(0, -50%) rotate(45deg);
    z-index: -10;
  }
}

.oc-menu-icon__sub-items-container--with-dropdown {
  &:after {
    right: 20px;
  }
}

.oc-menu-icon__button {
  z-index: 10;
}

.oc-menu-icon__button--with-dropdown {
  padding-right: 24px !important;
}


// XXX Remove it if @opuscapita/react-buttons will be replaced or modified
.oc-menu-icon__button--dark-overlay:hover:before,
.oc-menu-icon_-button--dark-overlay:focus:before {
  background-color: rgba(0, 0, 0, 0.04);
}

.oc-menu-icon__button--light-overlay:hover:before,
.oc-menu-icon__button--ligth-overlay:focus:before {
  background-color: rgba(255, 255, 255, 0.04);
}

.oc-menu-icon button:focus:after {
  display: none;
}

.oc-menu-icon__button {
  text-transform: none !important;
}

.oc-menu-icon__button--with-dropdown {
  padding-left: 6px !important;
}

.oc-menu-icon__button > div > div {
  max-width: 10ch;
  overflow: hidden;
  text-overflow: ellipsis;
}
