.oc-menu-icon {
  position: relative;
}

.oc-menu-icon__container {
  display: inline-flex;
  position: relative;
  height: 32px;
}

.oc-menu-icon__overlay {
    height: 100vh;
    background: rgba(0,0,0,0.28);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 50;
}

.oc-menu-icon--opened .oc-menu-icon__children-arrow {
  position: absolute;
  width: 12px;
  height: 12px;
  background: #fff;
  bottom: -26px;
  right: 10px;
  transform: translate(0, -50%) rotate(45deg);
  z-index: 100;
}

.oc-menu-icon__sup-title {
  transition: all 180ms ease-in-out;
  display: inline-flex;
  font-size: 10px;
  font-weight: bold;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: -6px;
  white-space: nowrap;
  padding: 1px 4px;
  min-width: 2.8ch;
  max-width: 4ch;
  justify-content: center;
  background-color: #dd2515;
  pointer-events: none;
  color: #fff;
  z-index: 20;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.22);

  &:empty {
    display: none;
  }
}

.oc-menu-icon__dropdown-icon {
  display: inline-flex;
  align-items: center;
  position: absolute;
  right: 6px;
  height: 100%;
}

.oc-menu-icon__sub-items-container {
  border-radius: 2px;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: -14px;
  right: 0;
  background-color: #fff;
  transform: translate(0, 100%);
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.25), 0px 1px 4px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

@media (max-width: @screen-sm-max) {
  .oc-menu .oc-menu-icon__sub-items-container--tablet-overlay-mode {
    position: fixed;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.25), 0px 1px 4px rgba(0, 0, 0, 0.15);
    z-index: 999;
    transform: none;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    overflow: auto;
  }

  .oc-menu .oc-menu-icon__sub-items-container--tablet-overlay-mode-left {
    left: 0;
    right: auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .oc-menu .oc-menu-icon__sub-items-container--tablet-overlay-mode-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .oc-menu-icon__sub-items-container--tablet-overlay-mode-right .oc-menu-icon__sub-items-container--tablet-overlay-header svg {
    fill: #333;
  }

  .oc-menu-icon__sub-items-container--tablet-overlay-header {
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
}

@media (min-width: @screen-md-min){
  .oc-menu-icon__sub-items-container--tablet-overlay-header {
    display: none;
  }

}

.oc-menu-icon__sub-items-container--with-dropdown {
  &:after {
    right: 20px;
  }
}

.oc-menu-icon__button {
  z-index: 10;
}

.oc-menu-icon .oc-button:focus:after {
  display: none;
}

.oc-menu-icon__button .oc-button {
  background-color: transparent;
  fill: #fff;
  color: #fff;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.oc-menu-icon__button .oc-button:hover:before {
  pointer-events: none;
  background-color: rgba(192, 192, 192, 0.18);
}

.oc-menu-icon__button--with-dropdown .oc-button {
  padding-right: 32px;
}

.oc-menu-icon__button > div > div {
  max-width: 10ch;
  overflow: hidden;
  text-overflow: ellipsis;
}
