.oc-menu-icon {
  display: inline-flex;
  position: relative;
}

.oc-menu-icon__sup-title {
  display: inline-flex;
  font-size: 10px;
  font-weight: bold;
  border-radius: 8px;
  position: absolute;
  top: 0;
  right: 0;
  white-space: nowrap;
  padding: 1px 4px;
  min-width: 2.8ch;
  justify-content: center;
  background-color: #dd2515;
  color: #fff;
  z-index: 20;
  transform: translate(12%, -25%);
}

.oc-menu-icon__dropdown-icon {
  display: inline-flex;
  align-items: center;
  position: absolute;
  right: 0;
  height: 100%;
}

.oc-menu-icon__button {
  z-index: 10;
}

.oc-menu-icon__button--with-suptitle {
  padding-right: 12px !important;
}

.oc-menu-icon__button--with-dropdown {
  padding-right: 24px !important;
}
