.oc-menu-dropdown-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 360px;
}

.oc-menu-dropdown-grid__item-container {
  display: inline-flex;
  justify-content: center;
  padding: 6px;
  width: 120px;
  height: 120px;
}

.oc-menu-dropdown-grid__item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e5e5e5;
  flex: 1;
}

.oc-menu-dropdown-grid__item-label {
  font-weight: bold;
  text-align: center;
}
