@navigation-bg: #3b4a56;
@navigation-text-color: #fff;
@navigation-notification-text-color: #fff;
@navigation-notification-bg-color: #ec6608;
@navigation-item-active-border-color: #ec6608;

.oc-menu--opuscapita-dark-theme {
  background-color: @navigation-bg;
  color: @navigation-text-color;

  & .oc-navigation-bar__dropdown-icon {
    fill: @navigation-text-color;
  }

  & .oc-navigation-bar__top-level-item--active {
    border-bottom-color: @navigation-item-active-border-color;
  }

  & .oc-menu-search__search-icon,
  & .oc-svg oc-svg-icon__svg {
    fill: @navigation-text-color;
  }

  & .oc-menu-icon__sup-title {
    background-color: @navigation-notification-bg-color;
    fill: @navigation-notification-text-color;
  }

  & .oc-menu-icon__dropdown-icon {
    fill: @navigation-text-color;
  }
}
