@navigation-bg: #3b4a56;
@navigation-text-color: #fff;
@navigation-notification-text-color: #fff;
@navigation-notification-bg-color: #ec6608;
@navigation-item-active-border-color: #ec6608;
@navigation-item-vertical-active-bg-color: @navigation-item-active-border-color;

@color-warning: #ec6608;
@color-success: #3aa57b;
@color-info: #67707c;
@color-error: #dd2515;

.oc-menu--opuscapita-dark-theme {
  background-color: @navigation-bg;
  color: @navigation-text-color;

  & .oc-menu-icon__sub-items-container--tablet-overlay-mode-left {
    background-color: @navigation-bg;
  }

  & .oc-navigation-bar__top-level-clickable-item--vertical.oc-navigation-bar__top-level-clickable-item--active {
    background-color: @navigation-item-vertical-active-bg-color;
  }

  & .oc-navigation-bar__dropdown-icon {
    fill: @navigation-text-color;
  }

  & .oc-navigation-bar__top-level-item--active {
    border-bottom-color: @navigation-item-active-border-color;
  }

  & .oc-menu-search__search-icon,
  & .oc-svg oc-svg-icon__svg {
    fill: @navigation-text-color;
  }

  & .oc-menu-icon__sup-title {
    background-color: @navigation-notification-bg-color;
    fill: @navigation-notification-text-color;
  }

  & .oc-menu-icon__dropdown-icon {
    fill: @navigation-text-color;
  }
}

.fill-warning {
  fill: @color-warning;
}

.fill-success {
  fill: @color-success;
}

.fill-info {
  fill: @color-info;
}

.fill-error {
  fill: @color-error;
}
