.oc-navigation-bar-overlay {
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(192, 192, 192, 0.18);
    pointer-events: none;
  }
}

.oc-navigation-bar {
  list-style: none;
  display: inline-flex;
  padding: 0;
  margin: 0;
  user-select: none;
}

@media (max-width: @screen-sm-max) {
  .oc-navigation-bar--vertical {
    flex-direction: column;
    width: 320px;
    max-width: 100vw;
  }
}

.oc-navigation-bar__top-level-item {
  display: inline-flex;
  padding: 0;
  border-bottom: 4px solid transparent;
  position: relative;
  font-weight: normal;
}

.oc-navigation-bar__top-level-clickable-item {
  opacity: 0.78;
  flex: 1 0 auto;
}

.oc-navigation-bar__top-level-clickable-item--active {
  opacity: 1;
}

@media (max-width: @screen-sm-max) {
  .oc-navigation-bar__top-level-item--opened .oc-navigation-bar__top-level-clickable-item--vertical {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.15);
    z-index: 1;
  }

  .oc-navigation-bar__top-level-item--vertical {
    flex-direction: column;
    overflow: hidden;
    border-bottom: none;
  }
}

.oc-navigation-bar__dropdown-icon {
  padding: 0 4px 0 0;
  display: inline-flex;
  align-items: center;
}

@media (max-width: @screen-sm-max) {
  .oc-navigation-bar__top-level-item--opened .oc-navigation-bar__dropdown-icon,
  .oc-navigation-bar__dropdown-icon--dropup {
    transform: scale(1, -1);
  }
}

.oc-navigation-bar__clickable-element-container {
  display: flex;
  position: relative;

  &:hover {
    .oc-navigation-bar-overlay;
  }
}

.oc-navigation-bar__clickable-element {
  padding: 6px 12px;
  display: inline-flex;
  position: relative;
  background-color: transparent;
  white-space: nowrap;
  z-index: 1;
  width: 100%;

  &,
  &:focus,
  &:active,
  &:hover {
    text-decoration: none;
    border: none;
    outline: none;
    color: inherit;
  }

  .badge {
    margin-left: 3px;
  }
}

@media (max-width: @screen-sm-max) {
  .oc-navigation-bar__top-level-item--vertical .oc-navigation-bar__clickable-element {
    padding: 12px;
  }
}

.oc-navigation-bar__clickable-element--with-dropdown {
  padding-right: 2px;
}

.oc-navigation-bar__sub-items-container {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  color: #333;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: -4px;
  left: 0;
  background-color: #fff;
  overflow: hidden;
  transform: translate(0, 100%);
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.25), 0px 1px 4px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

@media (max-width: @screen-sm-max) {
  .oc-navigation-bar__sub-items-container--vertical {
    box-shadow: none;
    transform: none;
    position: static;
    bottom: auto;
    left: auto;
    z-index: 0;
  }
}

.oc-navigation-bar__sub-item {
  position: relative;
  font-weight: normal;
}
