.oc-menu-account {
  padding: 12px;
}

.oc-menu-account__top-row {
  display: flex;
}

.oc-menu-account__name-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 96px 0 24px;
}

.oc-menu-account__first-name,
.oc-menu-account__last-name {
  font-size: 18px;
}

.oc-menu-account__user-name {
  font-size: 14px;
}

.oc-menu-account__top-buttons-container {
  margin-left: auto;
}

.oc-menu-account__actions-container {
  display: inline-flex;
  flex-direction: column;
  padding: 12px 0;
  margin-left: -4px;
}

.oc-menu-account__actions-container button {
  // XXX @opuscapita/react-buttons-fix
  text-transform: none;
}

.oc-menu-account__action-button {
  font-size: 16px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 1px;
  font-weight: normal;
}

.oc-menu-account__bottom-row {
  border-top: 1px solid #e5e5e5;
}
